<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Label Data from MongoDB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/label_data_styles.css') }}">
</head>
<body>
    <h1 class="title">NoSQL Database</h1>
    <h1 class="main">Label Data within Database</h1>
    <div class="page_container">
        <div class="page"><a class = "label" href="/home">Home Page</a></div>
        <div class="page"><a class = "label" href="/">Upload Page</a></div>
        <div class="page"><a class = "label" href="/search_BERT">BERT Search</a></div>
        <div class="page"><a class = "label" href="/search">Keyword Search</a></div>
        <div class="page"><a class = "label" href="/search_label">Label Search</a></div>
        <div class="page"><a class = "label" href="/display">View Data</a></div>
        <div class="page"><a class = "label">View Label Data</a></div>
    </div>
    <table>
        <thead>
            <tr>
                <th>label</th>
                <th>text</th>
            </tr>
        </thead>
        <tbody>
            {% for label_item in label_data %}
            <tr>
                <td>{{ label_item.label }}</td>
                <td>{{ label_item.text }}</td>
                <td>
                    <a href="/edit_label/{{label_item._id}}">Edit</a>
                </td>
                <td>
                    <button type="submit">Export file</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/">Upload Another File</a>
</body>
</html>