<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data from MongoDB</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Data from MongoDB</h1>
    <table>
        <thead>
            <tr>
                <th>label</th>
                <th>text</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.label }}</td>
                <td>{{ item.text }}</td>
                <td>
                    <a href="/edit/{{item._id}}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/">Upload Another File</a>
</body>
</html>