<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload_styles.css') }}">
</head>
<body>
    <h1 class="title">NoSQL Database</h1>
    <h1 class="main">Upload Page</h1>
    <div class="page_container">
        <div class="page"><a class = "label" href="/home">Home Page</a></div>
        <div class="page"><a class = "label">Upload Page</a></div>
        <div class="page"><a class = "label" href="/search_BERT">BERT Search</a></div>
        <div class="page"><a class = "label" href="/search">Keyword Search</a></div>
        <div class="page"><a class = "label" href="/search_label">Label Search</a></div>
        <div class="page"><a class = "label" href="/display">View Data</a></div>
        <div class="page"><a class = "label" href="/display_label">View Label Data</a></div>
    </div>

    <h3>Select and Upload File</h3>
    <form class="form" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xml">
        <button type="submit">Upload</button>
    </form>
</body>
</html>